{% load static %}
<nav class="bg-white border-gray-200">
    <div class="max-w-screen-xl flex flex-wrap items-center p-4">
        <a href="{% url "city:landing-page" %}" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="{% static "img/logo.svg" %}" class="h-8" alt="Norimberga Logo"/>
            <span class="self-center text-2xl font-semibold whitespace-nowrap">Norimberga</span>
        </a>
        <div class="hidden w-full md:block md:w-auto px-10">
            <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white">
                <li>
                    <a href="{% url "city:landing-page" %}"
                       class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-lime-700 md:p-0 md:text-lime-500"
                       aria-current="page">Map</a>
                </li>
            </ul>
        </div>
        <!-- Coins -->
        <div class="flex mx-2">
            <div class="flex-auto">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125"/>
                </svg>
            </div>
            <div class="flex-auto ml-2" hx-trigger="updateCoins from:body"
                 hx-get="{% url "city:savegame-coins" savegame.id %}">
                {{ savegame.coins }}
            </div>
        </div>
        <!-- Population -->
        <div class="flex mx-2">
            <div class="flex-auto">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"/>
                </svg>
            </div>
            <div class="flex-auto ml-2" hx-trigger="updatePopulation from:body"
                 hx-get="{% url "city:savegame-population" savegame.id %}">
                {{ savegame.population }}
            </div>
        </div>
    </div>
</nav>
