<div id="map-container" class="flex flex-row" hx-trigger="refreshMap from:body" hx-get="{% url "city:city-map" %}">

    <div class="flex flex-col w-80">
        <h3 class="text-xl font-bold mb-4">Messages</h3>
        {% for message in messages %}
            <div class="bg-orange-100 rounded-xl p-6 mb-6 mr-6 text-stone-500">
                <div class="flex flex-row mb-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"/>
                    </svg>
                    <div class="ml-2">Message</div>
                </div>

                <hr class="mt-4 mb-4">

                <div>{{ message }}</div>
            </div>
        {% endfor %}
    </div>

    <div class="flex flex-col">
        <div class="grid grid-cols-5 gap-x-0 rounded-md text-center">
            {% for tile in savegame.tiles.all %}
                {# Tailwind can't detect dynamic classes, therefore, they are safelist-ed #}
                <div class="px-3 py-6 w-24 h-23 border border-gray-50 cursor-pointer {{ tile.color_class }}"
                     hx-get="{% url "city:tile-build" tile.id %}" hx-target="#build-container">
                    <span class="coordinates">{{ tile.x }}/{{ tile.y }}</span>
                    <span class="building">{{ tile.content }}</span>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="flex flex-col">
        <div id="build-container"></div>
    </div>
</div>
