<div class="flex flex-col" hx-trigger="refreshMap from:body" hx-get="{% url "city:city-map" %}" hx-swap="outerHTML">
    {# todo: map_size in savegame can't be dynamic because it has to match the columns here #}
    <div class="bg-white rounded-lg shadow-lg p-6">
        <div class="grid grid-cols-10 gap-0.5 text-center bg-gray-300 p-0.5 rounded">
            {% for tile in savegame.tiles.all %}
                {# Tailwind can't detect dynamic classes, therefore, they are safelist-ed #}
                <div class="w-16 h-16 border border-gray-400 cursor-pointer {{ tile.color_class }} relative transition-all duration-200 hover:scale-105 hover:z-10 hover:shadow-lg hover:border-gray-600"
                     hx-get="{% url "city:tile-build" tile.id %}" hx-target="#build-container" hx-swap="innerHTML">
{# <span class="absolute bottom-0 right-0 m-1 text-xs text-slate-500">{{ tile.x }}/{{ tile.y }}</span> #}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
