<div class="fixed top-20 right-6 z-50 flex flex-col w-80 pointer-events-none" hx-trigger="reloadMessages from:body" hx-get="{% url "city:city-messages" %}" hx-swap="outerHTML">
    {% for message in messages %}
        <div class="{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}bg-red-100{% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}bg-orange-100{% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}bg-sky-100{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}bg-green-100{% endif %} rounded-xl p-6 mb-6 text-stone-500 shadow-lg pointer-events-auto relative">
            <button onclick="this.parentElement.remove()" class="absolute top-4 right-4 text-stone-400 hover:text-stone-600 transition-colors" aria-label="Close notification">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
            <div class="flex flex-row mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"/>
                </svg>
                <div class="ml-2">{{ message.extra_tags }}</div>
            </div>

            <hr class="mt-4 mb-4">

            <div>{{ message }}</div>
        </div>
    {% endfor %}
</div>
